*{
 margin: 0px;
 padding: 0px;
 box-sizing: border-box;
}
.bars{
    display: none;
}
header{
    width: 100%;
    background-color:#fff9f4 ;
    display: flex;
    height: 65px;
    align-items: center;
    justify-content: space-around;
    position: sticky;
    top: 0;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15)
}
@font-face {
    font-family: Roboto;
    src: url("./fonts/Roboto-VariableFont_wdth\,wght.ttf");
}
 .navbar{
    display: flex;
    width: 290px;
    position: relative;
    left: 20px;
 }
 .navbar img{
    width: 90px;
 }
 .content1{
    margin-top: 6px;
 }
 .content1 span{
    font-family: Roboto;
    font-size: 22px;
    font-weight: 500;
    text-transform: uppercase;
 }
 #nike{
    color: #ff8367;
 }
#react{
    font-weight: 400;
}
.navlinks{
    display: flex;
    gap: 50px;
    position: relative;
    list-style: none;
    left: 180px;
}
.navlinks li a{
    color: rgba(0, 0, 0, .55);
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
    font-family: Roboto;
}
@font-face {
    font-family: Robotocondensed;
    src: url("./fonts/RobotoCondensed-VariableFont_wght.ttf");
}
.bigshoe{
    width: 100%;
    display: flex;
    gap: 200px;
    justify-content: space-around;
    background-color: #fff9f4;
    padding-bottom: 30px;
  
}
.shoe1{
    width: 50%;
    height: 600px;
}
#shoe{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right: 100px;
}
.shoe1 img{
    width: 100%;
    height: 600px;
    margin-left: 100px;
    padding-left: 90px;
}
.content2{
    width: 100%;
    font-family: roboto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.content2 h1{
    font-weight: 600;
    font-size: 70px;
    font-family: "RobotoCondensed";
}
#first{
    color: #ff8367;
}
#second{
    color: #363958;
}
.content2 p{
    color: rgba(0, 0, 0, .55);
}
.content2 button{
    border: none;
    outline: none;
    background-color: #3D4FF3;
    color: white;
    padding: 15px;
    border-radius: 5px;
    font-weight: 540;
    font-size: 15px;
    width: 21%;
}
@font-face {
    font-family: BebasNeue;
    src: url("./fonts/BebasNeue-Regular.ttf");
}
.starting{
    width: 100%;
    background-color: #E5E5E5;
    height: 650px;
}
.heading{
    width: 50%;
    height: 100px;
    padding-left: 170px;
}
.heading h2{
    font-family:BebasNeue ;
    text-transform:uppercase;
     font-size: 48px;
    color: #363958;
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: .5rem;
}
#casual{
    padding-top: 40px;
}
 
.main{
    display: flex;
    width: 98%;
    height: 570px;
    justify-content: center;
    border-radius: 20px;
    padding: 12px;
    column-gap: 19px;
}
.buy{
    width: 28%;
    height: 546px;
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 10px;
    border-radius: 25px;
    row-gap: 20px;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
}
.pic{
    height: 350px;
}
.pic img{
    width: 100%;
    height: 350px;
    background: #F1F1F1;
    border-radius: 12px;
}
.content3{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.content3 h4{
    color: #363958;
    font-weight: 600;
    font-size: 24px;
    font-family: 'Roboto';
}
.money{
    display: flex;
    gap: 160px;
}
#money{
    color: #ff8367 !important;
}
.money button{
    margin-top: 15px;
}
.content3 p{
    font-family: Roboto;
}
.content3 button{
    border: none;
    outline: none;
    background-color:#3D4FF3;
    color: white;
    padding: 15px;
    border-radius: 5px;
    font-weight: 400;
}
@media screen and (max-width:480px){
    .navlinks{
        display: none;
    }
    .bar{
     margin-right: 20px;
     border: 1px solid rgba(0, 0, 0, .55);
     border-radius: 3px;
    }
    .bars{
        display: block;
        font-size: 30px;
        padding: 3px 5px 3px 5px;
        color: rgba(0, 0, 0, .55);
    }
    .navbar{
        margin-right: 200px;
    }
    .content1{
        width: 122px;
        font-size: 20px;
        padding-top: 8px;
    }
    .navbar img{
        padding-top: 10px;
    }
    .bigshoe{
        flex-direction: column;
        gap: 5px;
        padding-bottom: 10px;
    }
    .shoe1{
        width: 100%;
        height: 500px;
    }
    .shoe1 img{
        width: 100%;
        height: 500px;
        padding-left: 0px;
        margin-left: 0px;
    }
    #shoe{
        height: 400px;
        width: 100%;
    }
    .content2{
        font-size: 8px;
        justify-content: center;
        margin-left: 30px;
    }
    .content2 p{
        font-size: 15px;
    }
    .content2 button{
        width: 27%;
    }
    .starting{
        height: 3700px;
       display: flex;
       flex-direction: column;
    }
    .main{
        flex-direction:column !important;
        height: 1500px;
        gap: 20px;
        margin-top:5px;
        padding-top: 160px;
    }
    .buy{
        width: 100%;
    }
    .heading{
        width: 100%;
        padding-left: 0px;
    }
    .heading h2{
        margin-left: 15px;
        width: 50%;
    }
    #one{
        margin-top: 150px;
    }
    .money button{
        margin-left: 70px;
    }
}
@media screen and (min-width:481px) and (max-width:768px) {
    .navlinks{
        display: none;
    }
    .bar{
     border-radius: 3px;
     border: 1px solid rgba(0, 0, 0, .55);
     margin-right: 140px;
    }
    .bars{
        display: block;
        font-size: 30px;
        /* padding: 2px; */
        padding: 3px 5px 3px 5px;
        /* margin: 2px; */
        color: rgba(0, 0, 0, .55);
    }
    .header{
        width: 100%;
    }
    .navbar{
        margin-right: 200px;
    }
    .content1{
        width: 122px;
        font-size: 20px;
        padding-top: 8px;
    }
    .navbar img{
        padding-top: 10px;
    }
    .bigshoe{
        width: 100%;
    flex-direction: column;
     gap: 5px;
        padding-bottom: 10px;
    }
    .shoe1{
        width: 100%;
        height: 500px;
    }
    .shoe1 img{
         width: 80%;
        height: 500px;
        padding-left: 0px;
        margin-left: 0px;
    }
    #shoe{
         height: 400px;
        width: 100%;
    }
    .content2{
         font-size: 8px;
        justify-content: center;
    margin-left: 30px;
    }
    .content2 p{
        font-size: 15px;
    }
    .content2 button{
        width: 20%;
    }
    .starting{
         width: 100%;
       height: 3700px;
       display: flex;
       flex-direction: column;
    }
    .main{
        flex-direction:column !important;
        height: 1500px;
        gap: 20px;
        margin-top:5px;
       padding-top: 160px;
    }
    .buy{
        width: 70%;
        margin-left: 40px;
    }
    .heading{
        width: 100%;
        padding-left: 0px;
    }
    .heading h2{
         margin-left: 15px;
        width: 50%;
    }
    #one{
        margin-top: 150px;
    }
    .money button{
        margin-left: 70px;
    }
}
@media screen and (min-width:769px) and (max-width:1280px){
    header{
        width: 100%;
    }
    .navbar{
        position: relative;
        left: 1px;
    }
    .navlinks{
        position: relative;
    left: 20px;
        gap: 30px;
    }
    .navlinks a{
        font-size: 5px;
    }
    .bigshoe{
        gap: 30px;
    }
    .shoe1{
         width:50% ;
        height: 500px;
    }
    .content2 h1{
        font-size: 50px;
    }
    .content2 button{
        width: 35%;
    }
    .shoe1 img{
        padding-left: 60px;
        margin-left: 0px;
        width: 100%;
        height: 450px;
    }
    .buy{
        width: 30.33%;
    }
    .buy p{
        font-size: 13px;
    }
    .money{
        width: 300px;
    }
    .money button{
         margin-top: 0px;
     position: relative;
     right: 95px;
      gap: 0px;
      width: 100%;
      padding: 4px;
      font-size: 11px;
    }
    .shoebtn{
        position: relative;
        top: 25px;
    }
    .heading{
        padding-left: 50px;
    }
}